<div class="container">
  <h2 class="text-center">Sign Up</h2>

  <div ng-if="signUpCtrl.submitted">Your information has been saved</div>

  <form name="signUpForm" novalidate>

    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" name="firstName" placeholder="Type your first name" required ng-model="signUpCtrl.user.firstName">
      <span ng-if="signUpForm.firstName.$invalid && signUpForm.firstName.$touched">
         First name is mandatory
       </span>
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" name="lastName" placeholder="Type your last name" required ng-model="signUpCtrl.user.lastName">
      <span ng-if="signUpForm.lastName.$invalid && signUpForm.lastName.$touched">
         Last name is mandatory
       </span>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Type your email address" required ng-model="signUpCtrl.user.email">
      <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
         A valid email address must have the format handle@domain
       </span>
    </div>
    <div class="form-group">
      <label for="phone">Phone number</label>
      <input type="text" class="form-control" name="phone" placeholder="Type your phone number ###-###-####"
        pattern="(\d{3})-(\d{3})-(\d{4})" ng-model="signUpCtrl.user.phone">
        <span ng-if="signUpForm.phone.$invalid && signUpForm.phone.$touched">
          The phone must be in the format ###-###-####
        </span>
    </div>
    <div class="form-group">
      <label for="favorite">Favorite dish</label>
      <input type="text" class="form-control" name="favorite" placeholder="Type the menu number of your favorite dish" ng-model="signUpCtrl.user.favoriteDish"
        ng-blur="signUpCtrl.validateFavoriteDish()">
      <span ng-if="signUpCtrl.invalidFavoriteDish">
          No such menu number exists
      </span>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="signUpForm.$invalid" ng-click="signUpCtrl.submit()">Submit</button>
</form>
</div>
